{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="row pt-5" style="background-color: black;">
  <div class="mt-2 ml-5 text-light" style="font-size: 20px;font-weight: 600;margin-left:40px;">ASSIGNED TASK</div>
</div>
<div class="content-wrapper">
  <div class="row mt-3 ">
      <div class="col-md-2"></div>
      <div class="col-md-8 w-100 ">
        <div class="card">
          <div class="card-body">
              <!-- <form action="" method="post">
                  {% csrf_token %} -->
                  <!-- <div class="row pt-1">
                    <div class="col-md-4">
                    <div class="text-light mr-2 ml-3 mt-2">Select Department </div>
                    </div>
                    <div class="col-md-8 ">
                     <select id="" name="department" class="drop form-control ml-3 mt-2" required>
                    <option value=""> </option>
                    <option value=""></option>
                      </select>
                   </div>
                  </div>
                  <div class="row pt-1">
                      <div class="col-md-4">
                      <div class="text-light mr-2 ml-3 mt-2">Select Designaton </div>
                      </div>
                      <div class="col-md-8 ">
                       <select id="" name="" class="drop form-control ml-3 mt-2" required>
                      <option value=""> </option>
                      <option value=""></option>
                        </select>
                     </div>
                    </div>
                    <div class="row pt-1">
                      <div class="col-md-4">
                      <div class="text-light mr-2 ml-3 mt-2">Select Employee </div>
                      </div>
                      <div class="col-md-8 ">
                       <select id="" name="" class="drop form-control ml-3 mt-2" required>
                      <option value=""> </option>
                      <option value=""></option>
                        </select>
                     </div>
                    </div>
                    <div class="row pt-1">
                      <div class="col-md-4">
                      <div class="text-light mr-2 ml-3 mt-2">Select Tester </div>
                      </div>
                      <div class="col-md-8 ">
                       <select id="" name="" class="drop form-control ml-3 mt-2" required>
                      <option value=""> </option>
                      <option value=""></option>
                        </select>
                     </div>
                    </div> -->
                    <div class="row pt-1">
                      <div class="col-md-4">
                      <div class="text-light mr-2 ml-3 mt-2">NAME</div>
                      </div>
                      <div class="col-md-4 ">
                        <h4 class="text-light mr-2 ml-6 mt-2" style="font-size: 20px; font-weight: 200;">christin</h4> 
                     </div>
                    </div>
                    <div class="row pt-1">
                      <div class="col-md-4">
                      <div class="text-light mr-2 ml-3 mt-2">PROJECT TITLE</div>
                      </div>
                      <div class="col-md-8 ">
                        <h4 class="text-light mr-2 ml-6 mt-2" style="font-size: 20px; font-weight: 200;">test</h4>
                     </div>
                    </div>
                    <div class="row pt-1">
                      <div class="col-md-4">
                      <div class="text-light mr-2 ml-3 mt-2">DATE</div>
                      </div>
                      <div class="col-md-8 ">
                        <h4 class="text-light mr-2 ml-6 mt-2" style="font-size: 20px; font-weight: 200;">feb 3, 2021</h4>
                     </div>
                    </div>
                    <div class="row pt-1">
                      <div class="col-md-4">
                      <div class="text-light mr-2 ml-3 mt-2">DUEDATE</div>
                      </div>
                      <div class="col-md-8 ">
                        <h4 class="text-light mr-2 ml-6 mt-2" style="font-size: 20px; font-weight: 200;">feb 5, 2021</h4>
                     </div>
                    </div>
                    <!-- <div class=" row  mt-3 ">
                      <div class="col-md-4"></div>
                       <div class="col-md-4">
                      </div> -->
                      <!-- <div class="col-md-4"><button type="submit" id="alert2" class="btn btn-primary ml-5" >Assign</button></div> -->
                       <!-- <div> -->
                        <div class="row pt-1">
                          <div class="col-md-4">
                          <div class="text-light mr-2 ml-3 mt-2">ATTACHED FILE</div>
                          </div>
                          <div class="col-md-8 ">
                            <h5 class="text-light mr-2 ml-6 mt-2" style="font-size: 20px; font-weight: 200;">responsive.jpg</h5>
                         </div>
                         <div class="row pt-1">
                          <div class="col-md-4">
                          <div class="text-light mr-2 ml-3 mt-2">DESCRIPTION</div>
                          </div>
                          <div class="col-md-8 ">
                            <h4 class="text-light mr-2 ml-6 mt-2" style="font-size: 20px; font-weight: 200;">responsive the base page</h4>
                         </div>
                        </div>
              </form>
          </div>
        </div> 
        </div> 
        <div class="col-md-2"></div>   
  </div> 
  </div>
{% endblock %}