{% extends 'index.html' %}
{% load static %}
{% block content %}
<style>
#firstbox{
  
  height: 175px;
  float: left;
  width: 90%;
  margin-left: 7%;
  margin-top: 5%;
}
#firstbox div{
  padding-left: 2%;
  float: left;
}
#adname{
  padding-top: 14px;
  color: #ffffff;
  font-weight: 600;
  max-width: 300px;
}

   </style>
      </head>
<body>
<div><label id="myprofile" style="margin-top: 3%; margin-left: 7%; opacity: 0.6;">DASHBOARD</label></div>
<div id="firstbox" class="shadow  rounded">
    
    
  <div class="row-sm">
    <h3 id="adname">TESTER</h3>
    <h4 style="color: white;">tester</h4>
    <h5 style="font-weight: 400">
    <span style="color: #12c598">Departments</span>&nbsp &nbspTesting &nbsp <span style="color: #12c598">Joining date</span> &nbsp&nbsp jan. 10, 2022</h5></span>    
  </div>
</div>
</body>
</html>

{% endblock %}
</html>